@model IEnumerable<kaoshi.Models.es_test>

@{
   ViewBag.Title = "Index";
   ViewBag.Controller = "题库";
   ViewBag.Action = "列表";
}

@section Styles{
   <style>
      .analyze {
         padding: 10px;
         background: #eee;
      }

      .page-count {
         float: left;
         margin: 20px;
         line-height: 30px;
         color: #666;
      }

      .control {
         margin-bottom: 20px;
      }

         .control .input-group {
            float: left;
            width: 200px;
            margin-right: 20px;
         }

      .test-header {
         padding: 8px 2px;
         background: #C4CBCD;
         margin-bottom: 5px;
      }

      .test {
         padding: 8px 2px;
         background: #EEEEEE;
         color: #333;
         font-size: 15px;
      }

      .test-options {
         padding: 8px 2px;
         background: #F5F5F5;
         border-bottom: solid 1px #ddd;
      }

      .test-items {
         margin-bottom: 10px;
      }

         .test-items .answer {
            color: rgb(70, 136, 71);
            background-color: rgb(223, 240, 216);
         }

      .test-options .abcd {
      }

      .btn-sm {
         line-height: 1;
         padding: 2px 3px;
      }

      .test-options .contrl {
         display: none;
      }

      .test-options span, .test .input-group span {
         cursor: pointer;
      }

      .btn-ss {
         border: none;
         background: none;
      }

      .test-options select.form-control {
         padding: 6px 3px;
         text-align: center;
      }

      .test .fleft {
         position: absolute;
         display: block;
         width: 25px;
         float: left;
      }

      .test span.fright {
         margin-left: 30px;
         width: 90%;
         display: block;
      }

      .test input.fright {
         width: 90%;
         margin-left: 30px;
      }
   </style>
   <script src="~/Scripts/angular.min.js"></script>
   <script>
      angular.module('myApp', [], function ($httpProvider) {
         $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
         $httpProvider.defaults.transformRequest = [function (data) {
            var param = function (obj) {
               var query = '';
               var name, value, fullSubName, subName, subValue, innerObj, i;
               for (name in obj) {
                  value = obj[name];
                  if (value instanceof Array) {
                     for (i = 0; i < value.length; ++i) {
                        subValue = value[i];
                        fullSubName = name + '[' + i + ']';
                        innerObj = {};
                        innerObj[fullSubName] = subValue;
                        query += param(innerObj) + '&';
                     }
                  } else if (value instanceof Object) {
                     for (subName in value) {
                        subValue = value[subName];
                        fullSubName = name + '[' + subName + ']';
                        innerObj = {};
                        innerObj[fullSubName] = subValue;
                        query += param(innerObj) + '&';
                     }
                  } else if (value !== undefined && value !== null) {
                     query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
                  }
               }
               return query.length ? query.substr(0, query.length - 1) : query;
            };
            return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
         }];
      })
      .run(function ($rootScope) {
         $rootScope.tid = null
      })
      .controller('control', ['$scope', '$rootScope', '$http', '$timeout', function ($scope, $rootScope, $http, $timeout) {
         // 初始化选项卡
         $scope.test = {
            type: '-1',
            subject: '-1',
            options: [

            ]
         };

         // 获取选项卡下拉值
         $http.get('/Teacher/Test/getDropDownList').success(function (res) {
            var types = res.types;
            var subjects = res.subjects;

            $scope.types = types;
            $scope.subjects = subjects;
         });

         // 获取题目列表
         $scope.getList = function () {
            var subject = $scope.test.subject;
            var type = $scope.test.type;
            var data = {
               subject: subject,
               type: type
            };
            $http.get('/Teacher/Test/list?sid=' + subject + '&tid=' + type).success(function (res) {
               $scope.ori_tests = res.tests;
               $scope.tests = $scope.ori_tests;
               // 分页显示
               $scope.pageIndex = 1;

               $timeout(function () {
                  $('.test-options').hover(function () {
                     $(this).find('.contrl')[0].style.display = "block";
                  }, function () {
                     $(this).find('.contrl')[0].style.display = "none";
                  });
               }, 10);
            });
         }

         // 删除题目
         $scope.testDel = function (id, index) {
            $http.post('test/Delete', { id: id }).success(function (res) {
               if (res == true) {
                  $scope.tests.splice(index, 1);
               }
            });
         }

         // 提交题目
         $scope.testSubmit = function () {
            var test = {
               type: $scope.test.type,
               subject: $scope.test.subject,
               title: $scope.test.title,
               options: $scope.test.options
            };
            $http.post('test/create', test).success(function (res) {
               if (res.options == null) {
                  res.options = [];
               }
               $scope.tests.push(res);
               $('#testModal').modal('hide');
            })
         }

         // 题目修改后保存
         $scope.testEditSave = function ($event, t, index) {
            var target = $($event.target).parents('.test');
            console.log(t.editFlag);
            var test = {
               id: t.id,
               title: $(target).find('.form-control')[0].value,
               result: $(target).find('.form-control')[1].value.toUpperCase(),
               type: t.type,
               analyze: t.analyze,
               subject: t.subject
            }
            $http.post('test/EditTest', test).success(function (res) {
               t.title = test.title;
               t.result = test.result;
               t.analyze = test.analyze;
               t.editFlag = false;
               $scope.tests[index] = t;
            });
         }

         // 选项删除
         $scope.optionDel = function (id, options, index) {
            $http.post('test/DeleteOption', { id: id }).success(function (res) {
               if (res == true) {
                  options.splice(index, 1);
               }
            });
         }

         // 选项添加提交
         $scope.option = {};
         $scope.optionSubmit = function ($event, tid, options) {
            var target = $($event.target).parents('.test-options');
            var option = {
               abcd: $(target).find('.form-control')[0].value,
               content: $(target).find('.form-control')[1].value,
               test: tid
            }
            $http.post('test/CreateOption', option).success(function (res) {
               if (res) {
                  res.editFlag = false;
                  options.push(res);
                  options = options.sort(function (a, b) {
                     var x = a['abcd']; var y = b['abcd'];
                     return ((x < y) ? -1 : ((x > y) ? 1 : 0));
                  });
                  $(target).find('.form-control')[1].value = '';
                  $timeout(function () {
                     $('.test-options').hover(function () {
                        $(this).find('.contrl')[0].style.display = "block";
                     }, function () {
                        $(this).find('.contrl')[0].style.display = "none";
                     });
                  }, 10);
               }
            });
         }

         // 选项编辑保存
         $scope.optionEditSave = function ($event, id, option) {
            var This = $($event.target);
            var cont = $(This).prev().val();
            var o = {
               id: id,
               abcd: option.abcd,
               content: cont,
               test: option.test
            }
            $http.post('test/EditOption', o).success(function (res) {
               if (res) {
                  option.content = cont;
                  option.editFlag = false;
               }
            });
         }

         // 关键字检索
         $scope.search = function (kw) {
            $scope.index = 1;
            var arr = [];
            angular.forEach($scope.ori_tests, function (v, k) {
               if (v.title.indexOf(kw) > -1) {
                  arr.push(v);
               }
            });
            $scope.tests = arr;
         }

         // 延迟加载数据
         $timeout(function () {
            $scope.getList()
         }, 1000);

         // pager Angular的分页组件
      }])
      .directive('maxLength', function () {
         return {
            restrict: 'A',
            link: function (scope, elm, attr, ctrl) {
               if (attr.tid != 2) {
                  attr.$set('maxlength', '1');
               }
            }
         }
      })
      .filter('pager', function () {
         return function (input, index) {
            if (index != undefined) {
               var num = 5;
               var star = (index - 1) * num;
               var end = star + num;
               return input.slice(star, end);
            }
            return input;
         }
      })
      .directive('pager', function () {
         return {
            restrict: "A",
            replace: true,
            scope: {
               source: '=',
               showNum: '=',
               page: '='
            },
            template: '<nav class="clearfix">' +
                     '<ul class="pagination pagination-sm pull-left">' +
                     '<li ng-if="page!=1"><a ng-click="changePage(page-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>' +
                     '<li ng-repeat="p in pages" ng-class="{\'active\':page==p}"><a ng-bind="p" ng-click="changePage(p)"></a></li>' +
                     '<li ng-if="page!=pcount"><a ng-click="changePage(page+1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>' +
                     '</ul>' +
                     '<div class="page-count" ng-bind-template="(共{{pcount}}页/{{source.length}}条)"></div>' +
                     '</nav>',
            controller: function ($scope) {
               $scope.$watch('source', function (n, o) {
                  var page = $scope.page; // 当前页面
                  if ($scope.source != undefined) {
                     $scope.pcount = Math.ceil($scope.source.length / $scope.showNum); // 总页数
                     var pages = [];
                     for (var i = 1; i <= Math.ceil($scope.source.length / $scope.showNum) ; i++) {
                        pages.push(i);
                     }
                     if (pages === undefined || page < 3) { // 初始(1-5)页
                        $scope.pages = pages.slice(0, 5);
                     } else if (pages.length - page < 3) {
                        // 总页数-当前页码<3，即没有更多页了，截取页码表的最后5个记录
                        $scope.pages = pages.slice(-5);
                     } else if (page >= 3) {
                        // 页码到达第3页以后，默认使当前页 居中显示
                        $scope.pages = pages.slice((page - 2), (page + 3));
                     }
                  }
               });

               $scope.changePage = function (p) {
                  $scope.page = p;
               }
            }
         }
      })
   </script>
}

<div class="render-datas">
   <div class="test-body" ng-app="myApp" ng-controller="control">
      <div class="control clearfix">
         <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">科目</span>
            <select class="form-control" ng-model="test.subject" ng-change="getList()">
               <option value="-1">请选择科目</option>
               <option ng-repeat="s in subjects" value="{{s.Value}}" ng-bind="s.Text"></option>
            </select>
         </div>
         <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">题型</span>
            <select class="form-control" ng-model="test.type" ng-change="getList()">
               <option value="-1">请选择题型</option>
               <option ng-repeat="t in types" value="{{t.Value}}" ng-bind="t.Text"></option>
            </select>
         </div>
         <div class="input-group">
            <button class="btn btn-danger" data-toggle="modal" data-target="#testModal" ng-disabled="test.subject=='-1'||test.type=='-1'">添加题目</button>
         </div>
         <div class="pull-right">
            <input type="text" placeholder="输入关键字..." class="form-control" ng-model="kw" ng-change="search(kw)" />
         </div>
         <div class="modal fade" id="testModal" data-backdrop="false">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <form class="form-horizontal" name="testForm" ng-submit='testSubmit()'>
                     <div class="modal-header">
                        <button class="close" data-dismiss='modal' aria-label="Close">
                           <span aria-hidden='true'>&times;</span>
                        </button>
                        <h4 class="modal-title">添加题库</h4>
                     </div>
                     <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error':testForm.title.$dirty&&testForm.title.$invalid}">
                           <label for="" class="col-sm-2 control-label">题目</label>
                           <div class="col-sm-10">
                              <textarea class="form-control" name="title" ng-model='test.title' required></textarea>
                           </div>
                        </div>
                        <hr/>
                        <div ng-if="test.type==1" class="options-form">
                           <div class="form-group">
                              <label for="" class="col-sm-2 control-label">选项A</label>
                              <div class="col-sm-10">
                                 <textarea class="form-control" name="title" ng-model='test.options[0]' required></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="" class="col-sm-2 control-label">选项B</label>
                              <div class="col-sm-10">
                                 <textarea class="form-control" name="title" ng-model='test.options[1]' required></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="" class="col-sm-2 control-label">选项C</label>
                              <div class="col-sm-10">
                                 <textarea class="form-control" name="title" ng-model='test.options[2]' required></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="" class="col-sm-2 control-label">选项D</label>
                              <div class="col-sm-10">
                                 <textarea class="form-control" name="title" ng-model='test.options[3]' required></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss='modal' type="button">关闭</button>
                        <button class="btn btn-danger" type="submit" ng-disabled="testForm.$invalid">添加</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="table">
         <div class="test-header clearfix">
            <div class="col-sm-8">题目</div>
            <div class="col-sm-2">答案</div>
            <div class="col-sm-2">操作</div>
         </div>

         <div class="test-items" ng-repeat="t in tests | pager : pageIndex">
            @* 题目信息 *@
            <div class="test clearfix" ng-cloak>
               <div class="col-sm-8 title clearfix">
                  <span class="fleft" ng-cloak>({{$index+1}})</span>
                  <span class="fright" ng-if="!t.editFlag" ng-bind="t.title"></span>
                  <input type="text" ng-if="t.editFlag" ng-cloak value="{{t.title}}" class="form-control fright">
               </div>
               <div class="col-sm-2">
                  <span ng-if="!t.editFlag" ng-bind="t.result"></span>
                  <div class="input-group" ng-if="t.editFlag" ng-cloak>
                     <input type="text" value="{{t.result}}" max-length class="form-control" data-tid="{{t.type}}" ng-cloak>
                     <span class="input-group-addon" ng-click="testEditSave($event,t,$index)">保存</span>
                  </div>
               </div>
               <div class="col-sm-2">
                  <button class="btn btn-warning btn-sm" ng-class="{'active':t.editFlag}" ng-click="t.editFlag=!t.editFlag">编辑</button>
                  <button class="btn btn-danger btn-sm" ng-click="testDel(t.id,$index)">删除</button>
                  <button class="btn btn-primary btn-sm"
                          ng-class="{'active':t.addOptionFlag}"
                          ng-if="(t.type==2&&t.options.length<2)||(t.type==1&&t.options.length<4)"
                          ng-cloak ng-click="t.addOptionFlag=!t.addOptionFlag">
                     添加选项
                  </button>
               </div>
            </div>

            @* 题目选项 *@
            <div class="test-options clearfix" ng-class="{'answer':t.result.indexOf(o.abcd)>-1}" ng-repeat="o in t.options">
               <div ng-bind="o.abcd" class="col-sm-1"></div>
               <div class="col-sm-7" ng-cloak>
                  <span ng-if="!o.editFlag" ng-bind="o.content"></span>
                  <div class="input-group" ng-if="o.editFlag">
                     <input type="text" ng-cloak value="{{o.content}}" class="form-control">
                     <span class="input-group-addon" ng-click="optionEditSave($event,o.id,o)">保存</span>
                     <span class="input-group-addon" ng-click="o.editFlag=false">取消</span>
                  </div>
               </div>
               <div class="col-sm-2"><span ng-if="t.result.indexOf(o.abcd)>-1" class="glyphicon glyphicon-ok"></span></div>
               <div class="col-sm-2 contrl">
                  <button class="btn btn-warning btn-sm" ng-class="{'active':o.editFlag}" ng-click="o.editFlag=!o.editFlag">编辑</button>
                  <button class="btn btn-danger btn-sm" ng-click="optionDel(o.id, t.options, $index)">删除</button>
               </div>
            </div>
            @* 选项表单 *@
            <div class="test-options clearfix" ng-if="t.addOptionFlag||(t.type==2&&t.options.length<2)||(t.type==1&&t.options.length<4)" ng-cloak>
               <div class="col-sm-1">
                  <select class="form-control">
                     <option value="A">A</option>
                     <option value="B">B</option>
                     <option ng-if="t.type<2" value="C">C</option>
                     <option ng-if="t.type<2" value="D">D</option>
                  </select>
               </div>
               <div class="col-sm-11">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="请输入选项内容..">
                     <span class="input-group-addon">
                        <button class="btn-ss" ng-click="optionSubmit($event,t.id,t.options)">保存</button>
                     </span>
                     <span class="input-group-addon" ng-click="t.addOptionFlag=false">取消</span>
                  </div>
               </div>
            </div>

            @* 题目解析 *@
            <div class="analyze">
               解析：
               <span ng-if="!t.editFlag" ng-bind="t.analyze"></span>
               <textarea ng-if="t.editFlag" ng-cloak ng-model="t.analyze" value="{{t.analyze}}" class="form-control"></textarea>
            </div>
         </div>
      </div>
      <div pager source="tests" show-num="5" page="pageIndex"></div>
   </div>
</div>